.texture-paper::before {
  background: url("../img/texture-paper.png");
  background-size: cover; }

.bloc-bg-texture::before {
  content: "";
  background-size: 2px 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

@keyframes progress-card {
  from {
    transform: translate(0, 25%);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold.ttf"); }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf"); }
header {
  background-color: #f3e9f1;
  height: 90px;
  box-shadow: 0px 1px 5px black; }
  header #logo {
    padding-left: 5%; }
    header #logo img {
      background-size: cover;
      height: 80px; }
  header .navbar {
    padding: 0; }
    header .navbar button {
      margin-right: 5%; }
    header .navbar #navbarContent {
      z-index: 1;
      background-color: #f5ecf3; }
      header .navbar #navbarContent ul {
        margin-left: auto;
        margin-right: 0;
        border-top: solid #b8b8b8 1px; }
        header .navbar #navbarContent ul li a {
          padding-left: 15px;
          font-family: OpenSans-Semibold;
          font-size: 20px;
          color: black;
          text-decoration: none;
          text-shadow: none;
          transition: text-shadow 0.2s; }
          header .navbar #navbarContent ul li a:hover {
            text-shadow: 1.5px 1.5px 0px rgba(143, 91, 254, 0.5);
            transition: color 0.4s, text-shadow 0.2s; }
          header .navbar #navbarContent ul li a p {
            display: inline-block;
            font-size: 0.8rem;
            border: 1px solid #474747;
            border-radius: 25px;
            padding: 3.5px;
            margin-bottom: 0; }

@media (min-width: 768px) {
  header .navbar #navbarContent {
    background-color: #f3e9f1; }

  #navbarContent ul {
    border-top: 0px !important;
    margin-right: 5% !important; } }
#bannerShop {
  color: white;
  text-align: center;
  height: 350px;
  background-image: url("../img/photo-1540959733332-eab4deabeeaf.webp");
  background-size: cover;
  background-position: 50% 78%;
  background-repeat: no-repeat;
  background-color: #B3B3B3;
  position: relative; }
  #bannerShop .row {
    position: relative;
    margin: auto;
    padding-top: 13.5px; }
    #bannerShop .row .titleShop {
      margin: auto; }
      #bannerShop .row .titleShop #titleContainer {
        font-size: 24px;
        display: inline-flex;
        font-family: OpenSans-Semibold;
        margin: 20px 0 0 0; }
      #bannerShop .row .titleShop p.description {
        font-size: 16px;
        font-family: OpenSans-Light;
        margin-top: 10px; }
      #bannerShop .row .titleShop h1 {
        display: inline-flex;
        font-family: OpenSans-Bold; }

#main h2 {
  text-align: center;
  margin: 35px 0 25px 0; }
#main div.allCategoryProduct {
  display: flex;
  flex-wrap: wrap;
  margin: 0; }
  #main div.allCategoryProduct p {
    margin: auto 10px auto 0; }
  #main div.allCategoryProduct .categoryProduct {
    margin: 10px 15px 10px 0; }
    #main div.allCategoryProduct .categoryProduct input[type="checkbox"] {
      opacity: 0;
      position: fixed;
      width: 0; }
    #main div.allCategoryProduct .categoryProduct label {
      display: inline-block;
      background-color: #ececec;
      padding: 10px 20px;
      font-size: 16px;
      border: 2px solid #a5a5a5;
      border-radius: 10px; }
    #main div.allCategoryProduct .categoryProduct input[type="checkbox"]:checked + label {
      background-color: #f7f3ff;
      border-color: #b28efe; }
    #main div.allCategoryProduct .categoryProduct input[type="checkbox"]:focus + label {
      border: 2px double #1d0159; }
#main .card-list {
  justify-content: space-between; }
  #main .card-list .card {
    width: 95%;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #00000049;
    transform: translate(0, 25%);
    animation-name: progress-card;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    opacity: 0; }
    #main .card-list .card:hover {
      box-shadow: 0px 0px 5px #da850ed3; }
    #main .card-list .card a {
      color: #2c2c2c; }
      #main .card-list .card a:hover {
        text-decoration: none; }
    #main .card-list .card span {
      font-family: OpenSans-Semibold;
      color: #e58a0a; }
    #main .card-list .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 20px; }

footer {
  background-color: #f3e9f1;
  margin-top: 30px;
  padding: 45px 0; }
  footer p {
    margin: 0;
    font-size: 18px;
    font-family: OpenSans-Regular; }

@media (min-width: 420px) and (max-width: 447px) {
  #bannerShop .row {
    padding-top: 62.5px; } }
@media (min-width: 448px) {
  #bannerShop .row {
    padding-top: 71.5px; }
    #bannerShop .row .titleShop p.description {
      font-size: 18px; }

  #main .card-list .card {
    max-width: 47%; } }
@media (min-width: 768px) {
  #main .card-list .card {
    width: 32%; } }

/*# sourceMappingURL=default.css.map */
